@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #118e94;
$danger:  #ded9d6;
$warning: #eab22f;
$success: #bf6f26;
$info: #74c2c9;

@import "../../node_modules/bulma/bulma";